.body {
	font-family: 'Roboto', sans-serif;
	background: #ac7a00;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 52px;
	color: #FBC02D;
}

.input,
.result-container {
	width: 100%;
	font-size: 48px;
	padding: 2px;
	color: #ac7a00;
	background: #FBC02D;
	border: 1px solid #fff;
	text-align: center;
}

.result-container {
	margin: 50px auto 0;
	width: 50%;
}

#resultTitle {
	text-align: center;
	font-size: 18pt;
	color: #000;
}

.version {
	margin-top: 10px;
	color: #fff;
	text-align: center;
}